/* ------------Section  Services------ */

.services h1 {
    text-align: center;
}

.parentt {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 10px 50px;
    justify-items: center;
    /* align-items: center; */
    text-align: center;
}

.parentt i {
    color: cornflowerblue;
}

.parentt h3 {
    padding-top: 40px;
}

.service-1 {
    padding: 10px;
    height: auto;
    width: auto;
    /* border: 1px solid black; */
}


/* -------How it works section--- */

.howwork {
    background-color: rgb(218, 204, 204);
    text-align: center;
    box-sizing: border-box;
    padding: 40px;
}

.work {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.work span {
    padding: 10px;
    width: 90px;
    height: 90px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: lightgreen;
}

.steps {
    text-align: center;
    padding: 20px;
    line-height: 30px;
    text-align: center
}

.steps h2,
h3,
p {
    padding-top: 20px;
}
